// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

@font-face {
  font-family: text;
  src: url(../assets/fonts/GloriaHallelujah-Regular.ttf);
}
app-root {
  height: 100%;
}
ion-app {
  height: 100%;
}
