<ion-content>
  <ion-title>
    Cards Against Humanity
  </ion-title>
  <ion-grid>
    <div class="form-container">
      <form action="">
        <ion-label for="">Room Name</ion-label>
        <ion-input name="name" [(ngModel)]="roomName"></ion-input>
        <ion-label for="">PassWord</ion-label>
        <ion-input></ion-input>
        <ion-label for="">Player Nick</ion-label>
        <ion-input name="nick" [(ngModel)]="userParameters.nick"></ion-input>
        <ion-button (click)="join()">Search</ion-button>
      </form>
    </div>
  </ion-grid>
</ion-content>