ion-title{
    text-align: center;
    width: 100%;
    border: 10px solid black;
}
ion-label{
    text-align: center;
}
form{
    height: 100%;
}
.form-container{
    margin: 5%;
    display: flex;
    flex-direction: column;
    max-height: 30%;
    text-align: center;
}
.form-container * {
    flex:1;
}
ion-input{
    color: white;
    margin-bottom: 10%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    --placeholder-color: white;
}
*{
    font-family: text;
}
ion-button{
    margin-top: 5%;
    font-size: 130%;
    width: 100%;
    color: white;
    --background: black;
}