<div class="column-class">
  <div class="row-class" id="black">
    <div class="column-class">
      <ion-card class="white-text">
        <p>{{black.content}}</p>
        <p>{{black.author}}</p>
      </ion-card>
    </div>
  </div>
  <div class="row-class" id="players">
    <div class="column-class">
      <ion-card class="white-text">
        1º Bryan <br> 55
      </ion-card>
    </div>
    <div class="column-class">
      <ion-card class="white-text">
        1º Bryan <br> 55
      </ion-card>
    </div>
    <div class="column-class">
      <ion-card class="white-text">
        1º Bryan <br> 55
      </ion-card>
    </div>
  </div>
  <div class="row-class" id="player-info">
    <p>{{player.nick}}</p>
    <p>pts: {{player.pts}}</p>
    <p>round: {{round}}</p>
  </div>
  <div class="row-class white" id="my-whites">
    <ion-card *ngFor="let white of whites">
      <p>{{white.content}}</p>
      <p>{{white.author}}</p>
    </ion-card>
  </div>
  <!-- <div class="row-class white" id="players-whites"></div> -->
</div>