.row-class{
    display: flex;
}
.row-class *{
    flex:1;
}
.column-class{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}
.column-class *{
    flex:1;
}
p{
    text-align: center;
}
h2{
    text-align: center;
}
ion-card{
    height: 80%;
    width: 90%;
    background-color: black;
}
ion-card *{
    color:white;
}
ion-card-content{
    width: 100%;
    height: 100%;
    text-align: center;
}
.white{
    // height: 50vh;
    height: 40vh;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.white *{
    flex: 0 0 auto;
}