.row-class{
    display: flex;
}
.row-class *{
    flex:1;
}
.column-class{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}
.column-class row-class{
    flex:1;
}
p{
    text-align: center;
    font-size: 100%;
}
h2{
    text-align: center;
}
ion-card{
    background-color: black;
    width: 50%;
    height: 100%;
    color:white;
    padding: 4%;
    font-size: 100%;
    text-align: center;
}
.white{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.white *{
    flex: 1 0 auto;
    size: 100%;
}