<div class="column-class">
  <div class="row-class" id="black">
    <div class="column-class">
      <p class="black-text">text</p>
      <p class="black-author">author</p>
    </div>
  </div>
  <div class="row-class" id="players">
    <div class="column-class">
      <p>1º</p>
      <ion-icon name="person"></ion-icon>
      <div class="column-class">
        <p>Bryan</p>
        <p>55</p>
      </div>
    </div>
  </div>
  <div class="row-class" id="player-info">
    <p>Name</p>
    <p>500</p>
    <p>5</p>
  </div>
  <div class="row-class white" id="my-whites">
    <ion-card>
      <p>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </p>
      <h2>Card Title</h2>
    </ion-card>
    <ion-card>
      <p>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </p>
      <h2>Card Title</h2>
    </ion-card>
    <ion-card>
      <p>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </p>
      <h2>Card Title</h2>
    </ion-card>
    <ion-card>
      <p>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </p>
      <h2>Card Title</h2>
    </ion-card>
    <ion-card>
      <p>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </p>
      <h2>Card Title</h2>
    </ion-card>
  </div>
  <!-- <div class="row-class white" id="players-whites"></div> -->
</div>